.accordion {
  width: 100%;
  padding: 5.6rem 0;
  border-bottom: 1px solid var(--gray30);

  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
  }

  &__content {
    width: 75%;
    color: var(--gray50);
  }
}
