.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  z-index: var(--header-layer);

  &_sticky {
    position: sticky;
    background-color: var(--primary-background-color);
  }

  &__container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
