.person {
  display: flex;
  flex-direction: column;
  row-gap: var(--wrapper-padding);
  
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__data {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;
  }

  &__avatar {
    width: 7rem;
    height: 7rem;
    font-weight: 500;
    font-size: 2.4rem;
    border-radius: 100%;
    user-select: none;
    background-color: var(--gray30);
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }

  &__name {
    font-weight: 500;
  }

  &__description {
    color: var(--gray50);
  }

  &__container {
    justify-self: flex-end;

    button {
      width: 2.4rem;
      height: 2.4rem;
      color: var(--gray50);
    }
  }
}
