.reader {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &__content {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    position: relative;
    padding: var(--wrapper-padding);
    overflow: hidden;
  }
}

.embed {
  height: 100%;
  position: relative;
  column-fill: auto;
  column-width: 600px;
  column-gap: calc(var(--wrapper-padding) * 2);
}

.pagination {
  // position: absolute;
  // width: 25%;
  // height: 100%;
  // top: 0;
  flex: 1;
  //z-index: -1;

  &_back {
    left: 0;
  }

  &_forward {
    right: 0;
  }
}

.back {
  width: max-content;
  padding: 0;
  background-color: transparent;
  color: black;
  column-gap: 0rem;
  font-size: 1.8rem;
}
