.trigger {
  color: var(--main-color);
  hyphens: auto;
  cursor: pointer;
  font-style: italic;
  font-weight: 500;
  margin: 0 0.4em;

  svg {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    margin-right: 0.32em;
    vertical-align: middle;

    path {
      transition: fill var(--animation-time);
    }
  }
}
