.header {
  width: 100%;
  margin: 0 auto;
  padding: var(--wrapper-padding);
  max-width: var(--max-width);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__buttons {
    width: 2.5rem;
  }
}
