.statistic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.6rem;
  }

  &__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--gray50);
  }

  &__value {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__caption {
    font-size: 1.2rem;
  }
}
