.rhombus {
  position: relative;
  aspect-ratio: 1;
  width: 1em;

  .rhombus__fill,
  svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    user-select: none;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  .rhombus__fill {
    overflow: hidden;
  }
}
