.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.4rem;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2rem;
  }

  &__signature {
    font-size: 1.2rem;
  }
}
