.layout {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

.header,
.footer {
  padding: var(--wrapper-padding);
  display: flex;
  position: sticky;
  z-index: 2;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}
