.menu {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
  }

  &__item {
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    font-size: 3.2rem;
  }

  &__link {
    width: 100%;
    display: inline-block;

    &_active {
      text-decoration: underline;
      text-underline-offset: 0.4rem;
      text-decoration-thickness: 0.2rem;
    }
  }
}
