@import 'reset';
@import 'variables';
@import 'scroll';
@import 'typography';
@import 'transitions';

html {
  font-size: 0.625rem;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

#__nuxt {
  position: relative;
}

svg {
  display: block;
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}
