$header-height: calc(var(--wrapper-padding) * 2 + var(--header-height));

.book {
  & section {
    padding: calc(var(--wrapper-padding) * 2) var(--wrapper-padding);

    &:first-child {
      padding-top: calc(var(--wrapper-padding) + $header-height);
      margin-top: calc(-1 * $header-height);
    }
  }
}
