.navbar {
  display: flex;
  align-items: center;
  gap: 8rem;

  &__actions {
    display: flex;
    gap: var(--base-gap);
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.overlay {
  width: 100%;
  height: calc(100vh - 100%);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: var(--search-layer);

  backdrop-filter: blur(1rem);

  &__content {
    height: 70%;
    border-radius: 0 0 var(--rounding-xl) var(--rounding-xl);

    background-color: var(--primary-background-color);
  }
}
