.header {
  padding: var(--wrapper-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;

  .logo {
    margin-top: 1.4rem;
  }
}
