.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.background {
  position: relative;
  padding: var(--wrapper-padding);
  flex: 1;
  background-color: #466966;
  background-image: url(../backgrounds/auth.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  min-height: 50vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
}
