.tabs {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;

  &__link {
    color: inherit;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: transparent;

    transition: text-decoration-color var(--animation-time);

    &_active {
      text-decoration-color: var(--primary-text-color);
    }
  }
}

.container {
  width: 80%;
  min-width: 40rem;
}

.menu {
  .tab {
    color: var(--gray50);
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: transparent;

    transition: text-decoration-color var(--animation-time);

    &_active {
      color: black;
      font-weight: 700;
      text-decoration-color: var(--primary-text-color);
    }
  }
}
