.paymentPage{
    padding: var(--wrapper-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    row-gap: 30px;

    &__tagline{
        text-align: left;
        color: var(--gray50);
    }

    &__footer{
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

i{
    color: black;
    font-weight: 500; 
}

.description{
    color: var(--gray50);
}
