.footnodeModal {
  width: 100%;
  padding: var(--wrapper-padding);
  background-color: white;
  margin-top: auto;
  margin-bottom: 0;
  border-radius: 0.8rem 0.8rem 0 0;
  overflow-y: auto;
  max-height: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;

  &__title {
    margin-top: 0.4rem;
    font-size: 2rem;
  }

  &__content {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.4;
  }
}
