.button{
    border: 1px solid #94BEBC;
    border-radius: 1rem;
    height: 8vh;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;

    &__period{
        text-align: left;
    }

    &__price{
        text-align: right;
    }

    &__month{
        font-weight: 700;
        text-transform: uppercase;
    }

    &__monthPrice{
        color: var(--gray50);
        font-size: 14px;
    }

    &_secondary{
        background: linear-gradient(222deg, rgba(0,0,0,1) 1%, rgba(148,190,188,1) 52%, rgba(0,0,0,1) 99%);
        color: white;
    }

}