.carousel {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  &__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 3.2rem;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    scroll-padding: 0 var(--wrapper-padding);
    padding: 0 var(--wrapper-padding);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__title {
    padding: var(--wrapper-padding);
    padding-bottom: 0;
  }

  &__item {
    width: 80%;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
}
