:root {
  // Colors
  --primary-background-color: oklch(97.5% 0 0);
  --primary-text-color: oklch(17.5% 0 0);

  --accent-color: oklch(60% 0.07 191);

  --gray20: oklch(93% 0 0);
  --gray30: oklch(85.5% 0 0);
  --gray50: oklch(60% 0 0);
  --gray80: oklch(30% 0 0);

  --shadow-color: oklch(0 0 0 / 0.15);

  // Layers
  --header-layer: 100;
  --search-layer: 10;

  // Sizes
  --base-gap: 2.5rem;
  --header-padding: 2rem;

  --rounding: 1rem;
  --rounding-xl: 5rem;

  // Animation
  --animation-time: 0.2s;
}

.dark {
  --primary-background-color: oklch(17.5% 0 0);
  --primary-text-color: oklch(97.5% 0 0);

  transition:
    color var(--animation-time),
    background-color var(--animation-time),
    border-color var(--animation-time);
}

@media (color-gamut: p3) {
  :root {
    --accent-color: oklch(60% 0.12 191);
  }
}
