.chapter {
  padding: var(--wrapper-padding);
  font-size: 2rem;
  line-height: 1.2;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: var(--wrapper-padding);
    padding-bottom: 4rem;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    color: var(--gray50);

    h1 {
      font-weight: 400;
      color: black;
      font-size: 3.2rem;
      text-transform: uppercase;
      font-style: normal;
    }
  }

  p {
    line-height: 1.44;
    text-indent: 1em;
    margin-bottom: 0.4rem;
    text-align: justify;
    hyphens: auto;
  }

  p:first-child {
    text-indent: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
