.header {
  color: currentColor;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_white {
    color: white;
  }

  &__buttons button {
    width: 2.5rem;
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
