$width-block: 0.8;

.carousel {
  &__title {
    padding: 0 var(--wrapper-padding);
  }

  &__item {
    width: 30%;
    height: calc(
      (min(var(--max-width), 100vw) - 2 * var(--wrapper-padding)) * 0.8 /
        var(--cover-ratio)
    );
    scroll-snap-align: start;
    flex-shrink: 0;
    will-change: width;
    transition: width var(--animation-time);

    &_active {
      width: calc($width-block * 100%);
    }
  }
}
