.textarea {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  font-size: 1.1rem;
  color: var(--gray50);

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid var(--gray30);
    transition: border-color var(--animation-time);
  }

  textarea {
    resize: none;
    height: 2em;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }

  &_active {
    .textarea__container {
      border-color: var(--main-color);
    }
  }
}
